.dark-page-js {
  background-color: #363737;
}

.dark-text-js {
  color: white;
}

.dark-section-js {
  background-color: #909090;
}

.dark-icn-js path {
  fill: white;
}

.dark-line-js {
  border-color: white;
}
