.posts {
  background-color: rgba(237, 247, 250, 1);
  padding-top: 7px;
  padding-bottom: 32px;

  &__container {
   padding-left: 90px;
   padding-right: 90px;

    @media (max-width: 1020px) {
      padding: 0;
    }
  }

  &__top-wrapper {
    margin-bottom: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1020px) {
      margin: 0;
    }
  }

  &__title {
    margin: 0;

    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    color: rgba(33, 36, 61, 1);

    @media (max-width: 1020px) {
      margin: 0 auto;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 23.5px;

    color: rgba(0, 168, 204, 1);

    @media (max-width: 1020px) {
      display: none;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1020px) {
      justify-content: center;
      gap: 17px;
    }
  }
}
