<div class="featured-works__item">
  <img class="featured-works__item-img--1">
  <div class="featured-works__item-container">
    <h3 class="featured-works__item-title dark-text-js">
      Designing Dashboards
    </h3>
    <div class="featured-works__item-info">
      <p class="featured-works__item-date">2020</p>
      <p class="featured-works__item-status">Dashboard</p>
    </div>
    <p class="featured-works__item-text dark-text-js">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit<br> officia consequat duis enim velit mollit. Exercitation veniam consequat sunt<br> nostrud amet.
    </p>
  </div>
</div>
