<div class="featured-works__item">
  <img class="featured-works__item-img--2">
  <div class="featured-works__item-container">
    <h3 class="featured-works__item-title">
      Vibrant Portraits of 2020
    </h3>
    <div class="featured-works__item-info">
      <p class="featured-works__item-date">2018</p>
      <p class="featured-works__item-status">Illustration</p>
    </div>
    <p class="featured-works__item-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit<br> officia consequat duis enim velit mollit. Exercitation veniam consequat sunt<br> nostrud amet.
    </p>
  </div>
</div>
