<header class="header">
  <div class="container header__container">
    <div class="header__user-nav-wrappre">
      <nav class="user-nav">
        <ul class="user-nav__list">
          <li class="user-nav__item"><a class="user-nav__link dark-text-js" href="#">Works</a></li>
          <li class="user-nav__item"><a class="user-nav__link dark-text-js" href="../page-blog.html">Blog</a></li>
          <li class="user-nav__item"><a class="user-nav__link dark-text-js" href="#">Contact</a></li>
          <button class="user-nav__menu" aria-label="Открыть меню" aria-expanded="false"  data-burger>
            <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1H30" stroke="#21243D" stroke-width="1.6"/>
            <path d="M0 10H30" stroke="#21243D" stroke-width="1.6"/>
            <path d="M0 19H30" stroke="#21243D" stroke-width="1.6"/>
            </svg>
          </button>
        </ul>
      </nav>
    </div>
  </div>
</header>
