<section class="main-info">
  <div class="container main-info__container">
    <div class="main-info__content">
      <h1 class="main-info__title">
        Hi, I am John,<br>Creative Technologist
      </h1>
      <p class="main-info__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet<br> sint. Velit officia consequat duis enim velit mollit. Exercitation veniam<br> consequat sunt nostrud amet.
      </p>
      <a class="button main-info__button" href="#">Download Resume</a>
    </div>
    <img src="../img/john-photo-png.png" class="main-info__img" width="243" height="243" alt="John">
  </div>
</section>
