<div class="posts__item dark-page-js">
  <div class="posts__item-wrapper">
    <h2 class="posts__item-title dark-text-js">
      Making a design system from<br> scratch
    </h2>
    <div class="posts__item-date-block">
      <p class="posts__item-date-text dark-text-js">
        12 Feb 2020
      </p>
      <span class="posts__item-line dark-line-js"></span>
      <p class="posts__item-date-text dark-text-js">
        Design, Pattern
      </p>
    </div>
    <p class="posts__item-text dark-text-js">
      Amet minim mollit non deserunt ullamco est sit<br> aliqua dolor do amet sint. Velit officia consequat<br> duis enim velit mollit. Exercitation veniam<br> consequat sunt nostrud amet.
    </p>
  </div>
</div>
