<div class="posts__item">
  <div class="posts__item-wrapper">
    <h2 class="posts__item-title">
      Creating pixel perfect icons in<br> Figma
    </h2>
    <div class="posts__item-date-block">
      <p class="posts__item-date-text">
        12 Feb 2020
      </p>
      <span class="posts__item-line"></span>
      <p class="posts__item-date-text">
        Figma, Icon Design
      </p>
    </div>
    <p class="posts__item-text">
      Amet minim mollit non deserunt ullamco est sit<br> aliqua dolor do amet sint. Velit officia consequat<br> duis enim velit mollit. Exercitation veniam<br> consequat sunt nostrud amet.
    </p>
  </div>
</div>
